--11:09:00--  http://www.tidco.co.tt:80/
           => `www.tidco.co.tt/index.html'
Connecting to www.tidco.co.tt:80... connected!
HTTP request sent, awaiting response... 200 OK
Length: 124 [text/html]

    0K ->                                                        [100%]

11:09:02 (121.09 KB/s) - `www.tidco.co.tt/index.html' saved [124/124]

Converting www.tidco.co.tt/index.html... done.

FINISHED --11:09:02--
Downloaded: 124 bytes in 1 files
