BODY
{
  color: #000000;
  background-color: #ffffff;
  font-family: tahoma, arial, helvetica;
  font-size: 10pt;
  margin: 5;
}

A:link {color: #003399;}
A:visited {color: #003399;}
A:active {color: #ff0000;}
A:hover {color: #ff0000;}

TD
{
  vertical-align: top;
  font-family: tahoma, arial, helvetica;
  font-size: 10pt;
}

TD.neg
{
  color: ffffff;
  background-color: #000000;
  font-family: tahoma, arial, helvetica;
  font-size: 10pt;
}

TH
{
  color: #ffffff;
  background-color: #ffcc00;
  font-family: tahoma, arial, helvetica;
  font-size: 10pt;
}

TD.label
{
  color: #003399;
}
