vti_encoding:SR|utf8-nl
CompanyShortName:SW|TTC
GeneratedBy:SW|FrontPage Corporate Presence Web Wizard
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
vti_longfilenames:IX|1
vti_hassearchbot:BR|true
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_dependenciesood:IR|0
vti_httpdversion:SX|FrontPage DBW
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.926
vti_title:SR|Tucsontractorweb
CompanyFAX:SW|520-623-6058
vti_showhiddenpages:IR|1
vti_restartmanual:IX|0
vti_borderdefault:SR|tlb
CompanyEmail:SW|ttractor@tucsontractor.com
vti_navbuttonhomelabel:SR|Home
vti_missingoverlays:VX|
CompanyWebmaster:SW|mail@tucsontractor.com
vti_navbuttonnextlabel:SR|Next
vti_themedefault:SR|construc 001
vti_textindexood:IR|1
vti_missingoverlaylabels:VX|
vti_defaultcharset:SR|none
CompanyLongName:SW|Tucson Tractor Company
vti_navbuttonprevlabel:SR|Back
CompanyAddress:SW|1701 West Grant Road, Tucson AZ 85745
vti_oldestcompatibleversion:SR|2.0.0.0
vti_textextensions:SX|.txt.
vti_autorecalc:IX|1
vti_navbuttonuplabel:SR|Up
vti_defaultlanguage:SR|en
vti_timecreated:TR|27 Jul 1998 12:14:06 -0700
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
CompanyPhone:SW|520-623-5848
vti_webservertype:SR|diskweb
