--21:45:43--  http://www.tidco.co.tt:80/
           => `www.tidco.co.tt/index.html'
Connecting to www.tidco.co.tt:80... connected!
HTTP request sent, awaiting response... 200 OK
Length: 548 [text/html]

    0K ->                                                        [100%]

21:45:46 (535.16 KB/s) - `www.tidco.co.tt/index.html' saved [548/548]

Loading robots.txt; please ignore errors.
--21:45:46--  http://www.tidco.co.tt:80/robots.txt
           => `www.tidco.co.tt/robots.txt'
Connecting to www.tidco.co.tt:80... connected!
HTTP request sent, awaiting response... 200 OK
Length: 501 [text/plain]

    0K ->                                                        [100%]

21:45:48 (122.31 KB/s) - `www.tidco.co.tt/robots.txt' saved [501/501]

--21:45:48--  http://www.tidco.co.tt:80/ICONS/tourism-logo-120.gif
           => `www.tidco.co.tt/ICONS/tourism-logo-120.gif'
Connecting to www.tidco.co.tt:80... connected!
HTTP request sent, awaiting response... 200 OK
Length: 4,362 [image/gif]

    0K -> ....                                                   [100%]

21:45:52 (2.87 KB/s) - `www.tidco.co.tt/ICONS/tourism-logo-120.gif' saved [4362/4362]

--21:45:52--  http://www.tidco.co.tt:80/ICONS/tidco-text.JPG
           => `www.tidco.co.tt/ICONS/tidco-text.JPG'
Connecting to www.tidco.co.tt:80... connected!
HTTP request sent, awaiting response... 200 OK
Length: 24,730 [image/jpeg]

    0K -> .......... .......... ....                             [100%]

21:46:01 (4.23 KB/s) - `www.tidco.co.tt/ICONS/tidco-text.JPG' saved [24730/24730]

--21:46:01--  http://www.tidco.co.tt:80/ICONS/trade-logo-90.JPG
           => `www.tidco.co.tt/ICONS/trade-logo-90.JPG'
Connecting to www.tidco.co.tt:80... connected!
HTTP request sent, awaiting response... 200 OK
Length: 10,799 [image/jpeg]

    0K -> ..........                                             [100%]

21:46:06 (3.51 KB/s) - `www.tidco.co.tt/ICONS/trade-logo-90.JPG' saved [10799/10799]

Converting www.tidco.co.tt/index.html... done.

FINISHED --21:46:06--
Downloaded: 40,940 bytes in 5 files
Converting www.tidco.co.tt/index.html... done.
