.textmain  {
	font-size : 10pt;
	text-align : left;
	margin-left : 5;
	margin-right : 4;
	margin-top : 2;
}

.reklama  {
	font-size : 10pt;
	text-align : left;
	margin-left : 10;
	
	margin-top : 2;
}

.text   {  font-size: 10pt;
          text-align : justify;
       }

.form  {
	font-size : 9pt;
	color : Black;
	background-color : #E8D490;
}           


.formnn  {
	font-size : 9pt;
	color : Black;
	
}         

.header {  font-size: 10pt;
          text-align : justify;
		  color : white;
		  background : black;
       }
	   
.cell {  font-size: 10pt;
          background : #E8C488;
       }
	   
.text3 {  font-size: 10pt;
          
       }