BODY{
	font-family : Verdana;
	font-size : 9pt;
}

A {
	text-decoration: none;
; color: #3333FF
}


A:Hover {
	text-decoration: underline;
	color: #0033CC;
; font-weight: bold
}
h1 {  font-weight: bold; color: #FFFFFF; font-size: 9pt}
h2 {  font-size: 11pt}
h3 {  font-size: 24pt}
h4 {  font-size: 16pt}
.fondo {  background-color: #FFCC66; color: #000000; font-weight: bold; text-align: center}
.fondoclaro {  background-color: #FFEA95}
BODY { background-color: #FFFFFF; color: #000000}TD  { 
	font-family : Verdana;
	font-size : 9pt;
 } 