--00:17:39--  http://www.missuniverse.co.tt:80/
           => `www.missuniverse.co.tt/index.html'
Connecting to www.missuniverse.co.tt:80... connected!
HTTP request sent, awaiting response... 200 OK
Length: 4,675 [text/html]

    0K -> ....                                                   [100%]

00:17:40 (4.46 MB/s) - `www.missuniverse.co.tt/index.html' saved [4675/4675]

Loading robots.txt; please ignore errors.
--00:17:40--  http://www.missuniverse.co.tt:80/robots.txt
           => `www.missuniverse.co.tt/robots.txt'
Connecting to www.missuniverse.co.tt:80... connected!
HTTP request sent, awaiting response... 404 Not Found
00:17:40 ERROR 404: Not Found.

--00:17:40--  http://www.missuniverse.co.tt:80/auto45040%40hushmail.com
           => `www.missuniverse.co.tt/auto45040@hushmail.com'
Connecting to www.missuniverse.co.tt:80... connected!
HTTP request sent, awaiting response... 404 Not Found
00:17:40 ERROR 404: Not Found.

Converting www.missuniverse.co.tt/index.html... done.

FINISHED --00:17:40--
Downloaded: 4,675 bytes in 1 files
Converting www.missuniverse.co.tt/index.html... done.
